@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* Reset Over */
/* General Styling */
:root {
    --blue-one: #eff9ff;
    --blue-two: #e0f2fe;
    --blue-three: #b8e6ff;
    --blue-four: #73d4ff;
    --blue-five: #00bcff;
    --blue-six: #00a6f5;
    --blue-seven: #0084d1;
    --blue-eight: #0069a8;
    --blue-nine: #00598a;
    --blue-ten: #004a70;
    --blue-eleven: #062f4a;
    --font-header: "Fredoka", -apple-system, "Inter", Arial, Helvetica, sans-serif;
    --font-general: -apple-system, "Inter", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* App Styling */
.app-container {
    width: 40rem;
    height: 40rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--blue-four);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  
  .credit {
    display: flex;
    gap: 0.3rem;
  }
  
  footer a {
    text-decoration: none;
    color: blue;
    transition: color 0.3s ease; 
  }
  
  footer a:hover {
    color: darkblue;
    }
  
  .credit img {
    height: 1.2rem;
    width: 1.2rem;
  }
